.button {
  padding: 5px;
  border: 1px solid;

  cursor: pointer;
  background-color: $clr-white;
  border-color: $clr-darkblue;
  border-radius: 15px;

  &:hover {
    background-color: $clr-lightsteelblue;
    transition: all 0.3s;
  }

  &_inex {
    padding: 5px;
    border: 1px solid;

    cursor: pointer;
    background-color: $clr-white;
    border-radius: 5px;
    border-color: $clr-darkgreen;
    font-size: 14px;

    &:hover {
      background-color: $clr-lightgreen;
      transition: all 0.2s;
    }
    &:active {
      background-color: $clr-darkseagreen;
    }
  }
  &_del {
    border-color: $clr-red;
    &:hover {
      background-color: $clr-darksalmon;
      color: $clr-white;
    }
  }
  &_active {
    background-color: $clr-cornflowerblue;
    transition: all 0.3s;
    color: $clr-white;

    &:hover {
      background-color: $clr-cornflowerblue;
    }
  }
}
