.section {
  max-width: 550px;
  min-width: 320px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

  &__counter {
    margin-top: 10px;
  }
  &__tasklist {
    width: 100%;
  }
  &__buttonlist {
    padding: 0 10px;
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  &__input {
    display: flex;
    width: 100%;
    border: 1px solid $clr-gray;
    box-sizing: border-box;
    align-items: center;
  }
}
