$clr-white: white;
$clr-darkblue: darkblue;
$clr-lightsteelblue: lightsteelblue;
$clr-darkgreen: darkgreen;

$clr-lightgreen: lightgreen;
$clr-darkseagreen: darkseagreen;
$clr-cornflowerblue: cornflowerblue;

$clr-gray: gray;
$clr-red: red;
$clr-darksalmon: darksalmon;
